<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Gecko Gallery</h1>
  <ul>
    <% photos.forEach(photo => { %>
      <li>
        <a href="/photos/<%= photo._id %>"><%= photo.name %>
          
          <!-- Placeholder image: -->
            <img src="<%= photo.image %>" width="400">
        </a>
        
      </li> 
      <% }) %> 
  </ul>


  <!-- <section>
    <div>Title</div>
    <img src="https://i.imgur.com/xElo1Sm.jpg" width="300">
    <p>Gecko sitting in bowl</p>
  </section> -->

</section>









<%- include('../partials/footer') %>