<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1 id="title">Gecko Gallery</h1>
  <ul>
    <% photos.forEach(photo => { %>
      <li>
        <a href="/photos/<%= photo._id %>"><%= photo.name %>
        
            <img src="<%= photo.image %>" width="400" id="photo">
        </a>
        
      </li> 
      <% }) %> 
  </ul>

</section>


<%- include('../partials/footer') %>