<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section id="main-photo">
  <!-- <div>title</div> -->
  <img src="<%= photo.image %>" width="600">
  <!-- <p>caption</p> -->
  <% if (photo.owner.equals(user?.profile._id)) { %>
    <form action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this photo</button>
    </form>
    <form action="/photos/<%= photo._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this photo</button>
    </form>
  <% } %>
</section>
<h2 id="comment-title">Comments</h2>
<section id="comment-submit">
  <form action="/photos/<%= photo._id %>" method="POST">
    <label for="content-textarea">Comment:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Comment</button>
  </form>
</section>
<section id="comment-body">
  <ul> 
    <% photo.comments.forEach(comment => { %> 
      <li> <%= comment.content %> <br>
      </li>
        <% }) %>
        
  </ul>
</section>

<%- include('../partials/footer') %>