<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section id="main-photo">
  <div>title</div>
  <img src="<%= photo.image %>" width="500">
  <p>caption</p>
  <%# if (photo.owner.equals(user?.profile._id)) { %>
    <!-- <form action="/tacos/<%# photo._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this photo</button>
    </form> -->
  <%# } %>
</section>



  <form action="/photos/<%= photo._id %>" method="POST">
    <label for="content-textarea">Comment:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Comment</button>
  </form>
</section>

<%- include('../partials/footer') %>